<html>
  <body style="font-family: sans-serif; background-color: #fff8f0; color: #2a2a2a;">
    <h2>🎄 Merry Christmas, {{name}}!</h2>
    <p>Your Secret Santa gift recipient(s):</p>
    <pre>{{assignment}}</pre>
    <p>Spending limit: $60</p>
    <img src="https://media.istockphoto.com/id/487771726/photo/real-santa-with-finger-to-lips.jpg?s=612x612&w=0&k=20&c=4w04IKQi0CO5_hTYoj3dff3AMAsEL9Aoumuj94Bv9Vc=" alt="Christmas Tree" width="200"/>
    <p>Have fun and happy gifting! 🎁</p>
  </body>
</html>
